#dialog {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 5px solid #1ABC9C;
    background: #eee;
    font-size: 12px;
    line-height: 120%;
    padding: 20px 10px 10px 10px;
    visibility: hidden;
    border-radius: 5px;
}